---
layout: default
permalink: "/"
---

<div class="container">
<div class="hero is-medium has-carousel">
<div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
  <div class='carousel-container'>
    <div class='carousel-item has-background is-active'>
      <img class="is-background image is-950x600" src="/assets/images/IMG0656.JPG" alt=""/>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background image is-950x600" src="/assets/images/IMG7931.JPG" alt=""/>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background image is-950x600" src="/assets/images/IMG7942.JPG" alt=""/>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background image is-950x600" src="/assets/images/IMG7963.JPG" alt=""/>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background image is-950x600" src="/assets/images/P1010490.JPG" alt=""/>
    </div>
  </div>
  <div class="carousel-navigation is-centered">
    <div class="carousel-nav-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
</div>
<div class="hero-body is-info has-text-centered">
  <div class="columns is-mobile is-centered">
    <div class="column">
      <div class="subtitle is-5">Accidental Shakespeare is an ensemble theater
        company that thoughtfully explores challenging plays, to forge
        connections between classical themes and contemporary culture in
        intimate settings.</div>
    </div>
  </div>
</div>

<div class="homepage-content">
  <div class="mission-statement block-spacing">
      <form action="/join" class="button">
          <button type="submit" class="btn btn-default btn-general btn-home">Get Involved</button>
      </form>
  </div>
  <div class="royal-blue-container block-spacing">
    <h2 class="homepage-title">Upcoming Events</h2>
      {% include upcoming.html %}
  </div>
  <div class="reviews block-spacing">
    <h2 class="homepage-title">Reviews and Testimonials</h2>
      {% include reviews.html %}
  </div>
</div>
</div>
</div>