<section class="hero is-primary is-medium">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <p class="title">Accidental Shakespeare</p>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item">
                Productions
              </a>
              <a class="navbar-item">
                About Us
              </a>  
              <span class="navbar-item">
                <a class="button is-white is-outlined is-small" href="https://github.com/dansup/bulma-templates/blob/master/templates/hero.html">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>View Source</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </section>

<!--
<section>
  <div class="container is-fluid">
    <img class="image is-128x128" src="/assets/images/accidental-shakespeare-logo.svg">
    <h1>The Accidental Shakespeare Theater Company</h1>
  </div>
</section>

<nav class="level is-mobile">
  <p class="level-item has-text-centered">
    <a class="link is-light">Home</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-light">Menu</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-light">Accidental Shakespeare Theater Company</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-light">Reservations</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-light">Contact</a>
  </p>
</nav>

<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://accidentalshakespeare.org">
      <img src="/assets/images/LogoVectors.svg" alt="Accidental Shakespeare" width="56" height="56">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
  </div>
</div>

<div class="navbar-end">
    <a class="navbar-item" href="https://accidentalshakespeare.org/">Home</a>
      <a class="navbar-item" href="/past-productions">Productions</a>
      <a class="navbar-item" href="/about">About Us</a>
      <a class="navbar-item" href="/sponsors">Sponsors</a>
      <a class="navbar-item" href="/donate">Donate</a>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-light" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/accshakes">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-light" href="https://facebook.com/accshakes">
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
              <span>Facebook</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
</section> -->