<section class="hero is-small">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item title" href="/">
              The Accidental Shakespeare </br> Theater Company
            </a>
            <!-- <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span> -->
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active title is-4" href="/">
                Home
              </a>
              <a class="navbar-item title is-4" href="/past-productions">
                Productions
              </a>
              <a class="navbar-item title is-4" href="/about">
                About Us
              </a>  
              <a class="navbar-item title is-4" href="/sponsors">
                Sponsors
              </a>
              <a class="navbar-item title is-4" href="/donate">
                Donate
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </section>