/*About Us*/

.people-img-container {
  /*min-width: 400px;*/
  padding: 0;
  margin: 0;
  text-align: center;
}

.people-container {
/*  display: -webkit-flex;
  display: flex;*/
}

.people-img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 350px;
  padding: 20px 75px 20px 20px;
}

.people-img2 {
  width: auto;
  height: auto;
  max-width: 166px;
  max-height: 250px;	
}

.people-info {
/*  -webkit-flex: 1;
          flex: 1;*/
  color: black;        
  max-width: 75%;        
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 75px;
  margin: 0;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 0;
}

.img-row {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0;
}

.staff-list {
  background-color: #666666;
  padding: 0;
  margin-bottom: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.staff-row {
  width: 30%;
  height: 30%;
  min-height: 166px;
  min-width: 250px;
  padding: 2% 7% 2% 7%;
  margin: 2% 7%;
}

.staff-people-info {
  color: black;
  width: 30%;
  height: 30%;
  min-height: 166px;
  min-width: 166px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  margin: 0;	
}

div#main-directors-list{
  background-color: #666666;
}

#artist-list {
  width: 100%;
	background-color: #241346;
  color: #e6e6e6;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

#artist-list h2 {
  padding: 7%;
}

.artist-item {
  text-align: center;
  padding: 5px;
  width: 300px;
  height: 100px;
}

.artist-header {
  margin-bottom: 2%;
  padding: 2%;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}

li {
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

#artist-list ul {
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

#directors-table ul {
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.directors-item {
  text-align: left;
  padding: 5px;
  margin: 5px;
  width: 300px;
  height: 100px; 
}
