/*About Us*/

.people-img-container {
  /*min-width: 400px;*/
  padding: 0;
  margin: 0;
  text-align: center;
}

.people-container {
/*  display: -webkit-flex;
  display: flex;*/
}

.people-img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 350px;
  padding: 20px 75px 20px 20px;
}

.people-img2 {
  width: auto;
  height: auto;
  max-width: 166px;
  max-height: 250px;	
}

.people-info {
/*  -webkit-flex: 1;
          flex: 1;*/
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 75px;
  margin: 0;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 150px;
}

.img-row {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.staff-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.staff-row {
  width: 30%;
  height: 30%;
  flex-basis: 150px;
  padding: 2% 7%;
  margin: 2% 7%;
}

.staff-people-info {
  width: 30%;
  height: 30%;
  min-height: 166px;
  min-width: 166px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  margin: 0;	
}

li {
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

.artist-list {
	background-color: #241346;
}
