#new-sponsor-container {
  margin: auto;
  padding: 30px 10px;
  text-align: center;
  background-color: #241346;

  color: #EEEEEE;
}

#new-sponsor-text-container {
  width: 70%;
  min-width: 300px;
  margin: auto;
}

#new-sponsor-form {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #666666;
  border-radius: 10px;
  font-size: 26px !important;
  font-weight: 500;
  t
  color: white;
}

.new-sponsor-field-group {
  margin: 10px 0px;
}

.btn-sponsor {
  width: 360px;
}

#current-sponsors-container {
  text-align: center;
}

#current-sponsors-list {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 50px 0px;
  padding: 0px;
  justify-content: center;
}

#current-sponsors-list li {
  list-style-type: none;
  -webkit-flex: none;
          flex: none;
  width: 300px;
  font-size: 16px;
  font-weight: bold;
}

@media(max-width: 767px){
  #new-sponsor-form {
    width: 340px;
  }

  .btn-sponsor {
    width: 300px;
  }
}