---
layout: default
---

<!--Section for Company Photo -->
<section id="company-photo" class="hero is-dark">
    <div class="container has-text-centered">
        <div class="hero-head">
            <p class="title is-2 upper">
                Meet our Company!
            </p>
        </div>
    </div>
    <div class="container">
        <div class="hero-body has-text-centered">
            {% for photo in page.photo %}
            <figure class="image">
                <img src="{{photo.image-path}}" alt="{{photo.alt}}" class="about-photo">
            </figure>
        {% endfor %}
        </div>  
    </div>
</section>

<!--Section for Company Roster -->
<section id="company" class="hero is-dark">
    <div class="container">
        <div class="hero-body has-text-centered">
                <div class="columns is-multiline is-desktop">
                        {% for member in page.member %}
                        <div class="column is-4">
                            <figure class="image">
                              <img src="{{member.image-path}}" alt="{{member.name}}">
                            </figure>
                            <div>
                                {% if member.bio-url %}
                                    <h3 class="title is-3 is-capitalized">><a href="{{member.bio-url}}">{{member.name}}</a></h3>
                                {% else %}
                                    <h3 class="title is-3 is-capitalized">{{member.name}}</h3>
                                {% endif %}
                                    <h4 class="subtitle is-4">{{member.title}}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>  
        </div>
    </section>

<!--Section for Guest Artists -->
<section id="guest-artists" class="hero is-dark">
    <div class="container">
        <div class="hero-head has-text-centered">
            <p class="title is-2 upper">
                Meet our Fantastic Guest Artists
            </p>
        </div>
    </div>

    <div class="container has-text-centered">
        <div class="hero-body">
            <div class="columns is-multiline is-desktop">
                {% for artist in page.guest-artists %}
                <div class="column is-4">
                    <h3 class="title is-3 is-capitalized">{{artist.name}}</h3>
                    <h4 class="subtitle is-4">{{artist.title}}</h4>
                </div>
                {% endfor %}
            </div>
        </div>  
    </div>
</section>

<!--Section for Board of Directors -->
<section id="board" class="hero is-dark">
    <div class="container">
        <div class="hero-head has-text-centered">
            <p class="title is-2 upper">
                And Our Amazing Board of Directors
            </p>
        </div>
    </div>

    <div class="container">
        <div class="hero-body has-text-centered">
            <div class="columns is-multiline is-desktop">
                {% for board in page.board-members %}
                <div class="column is-4">
                    <h4 class="title is-4 is-capitalized">{{board.name}} | {{board.title}}</h4>
                    <h6 class="subtitle is-4">{{board.affiliation}}</h6>
                </div>
                {% endfor %}
            </div>
        </div>  
    </div>
</section>

