---
layout: default
---

<!-- This bit of Liquid counts the number of images, image_count, for use in flow control below -->
{% assign image_count = 0 %}
{% for image in page.images %}
  {% assign image_count = image_count | plus: 1 %}
{% endfor %}

<div class="container">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <div class="col-xs-12" id="slider">
        <!-- Top part of the slider -->
        <div class="row">
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              {% if image_count == 1 %}
                <!-- Show Single Static Image -->
                {% for image in page.images %}
                  <div class="carousel-inner">
                    <img src="{{image.url}}">
                  </div>
                {% endfor %}
              {% elsif image_count != 0 %}
                <!-- Show Carousel -->
                <div class="carousel-inner">
                  {% for image in page.images %}
                    {% if forloop.index == 1 %}
                      <div class="active item" data-slide-number="{{forloop.index }}">
                    {% else %}
                      <div class="item" data-slide-number="{{forloop.index }}">
                    {% endif %}
                      <img src="{{image.url}}"></div>
                  {% endfor %}
                    </div><!-- Carousel nav -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                </div>
                <div class="col-sm-4" id="carousel-text"></div>
              {% endif %}
              
              <div class="show-info">
                <h1>{{ page.title }}</h1>
                <b><span class="date">
                  {{ page.dates_string }} | {{page.location}}
                </span></b>
                <h4 class="page-synopsis">{{page.synopsis}}</h4>
              </div>
            </div>
          </div>
        </div><!--/Slider-->
        
        {% if image_count > 1 %}
        <div class="row hidden-xs" id="slider-thumbs">
          <!-- Bottom switcher of slider -->
          <ul class="hide-bullets">
            {% for image in page.images %}
              <li class="col-sm-2">
                <a class="thumbnail" id="carousel-selector-{{forloop.index0}}"><img src="{{image.url}}"></a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Production Team:</h2>
        <ul class="hide-bullets">
          {% for production in page.production %}
            {% if production.bio_url %}
              <li class="actor-name">{{production.title}}: <a href="{{production.bio_url}}">{{production.name}}</a></li>
            {% else %}
              <li class="actor-name">{{production.title}}: {{production.name}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2>Cast:</h2>
          <ul class="hide-bullets">
            {% for cast in page.cast %}
              {% if cast.actor_bio_url %}
                <li><a class="actor-name" href="{{cast.actor_bio_url}}">{{cast.actor}}</a> as {{cast.role}}</li>
              {% else %}
                <li><span class="actor-name">{{cast.actor}}</span> as {{cast.role}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      
      {{content}}

</div>