---
layout: default
---                
<div id="new-sponsor-container">
    <a name="new"></a>
    <div id="new-sponsor-text-container">
        <h2 class="sponsor-title">Join Our Community of Sponsors</h2>
        <div class="sponsor-paragraph">The Accidental Shakespeare Company would not exist without the generous support of our sponsors and supporters. If you value our work and community presence, please consider becoming a sponsor.  You can support us through cash donations, material goods (such as props or set materials) or by volunteering your time.  Please use the form below to let us know you are interested and one of our members reach out to you!</div>
    </div>

    <form id="new-sponsor-form" class="royal-blue-container" method="POST" action="https://formspree.io/accshakes@gmail.com">
        <div class="new-sponsor-field-group">
            <label for="new-sponsor-name">Name:</label>
            <input id="new-sponsor-name" class="form-control input-sm sponsor-text-input" type="text" name="NAME" placeholder="Name">
        </div>
        <div class="new-sponsor-field-group">
            <label for="new-sponsor-email">Email:</label>
            <input id="new-sponsor-email" class="form-control input-sm sponsor-text-input" type="text" name="EMAIL" placeholder="name@email.com">
        </div>
        <div class="new-sponsor-field-group">
            <input type="submit" class="btn btn-default btn-general btn-sponsor" value="Sponsor Us">
        </div>
        <div id="formspree-options">
            <input type="hidden" name="_next" value="//accidentalshakespeare.com/sponsors"/>
            <input type="hidden" name="_subject" value="New Sponsorship Request" />
        </div>
    </form>

</div>

<div id="current-sponsors-container">
    <a name="current"></a>
    <div id="new-sponsor-text-container">
        <h2 class="sponsor-title">Thanks to our Current Sponsors</h2>
        <div class="sponsor-paragraph">Accidental Shakespeare holds various fundraisers and events throughout the year. These sponsors have been gracious in offering their support.</div>
    </div>
    <ul id="current-sponsors-list">
        {% for sponsor in page.sponsors %}
        <li>{{sponsor.name}}</li>
        {% endfor %}
    </ul>
</div>

